[submodule "foundry_lottery_lesson9/lib/forge-std"]
	path = foundry_lottery_lesson9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_lottery_lesson9/lib/chainlink-brownie-contracts"]
	path = foundry_lottery_lesson9/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry_lottery_lesson9/lib/solmate"]
	path = foundry_lottery_lesson9/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry_lottery_lesson9/lib/foundry-devops"]
	path = foundry_lottery_lesson9/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
