[submodule "foundry_lottery_lesson9/lib/forge-std"]
	path = foundry_lottery_lesson9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_lottery_lesson9/lib/chainlink-brownie-contracts"]
	path = foundry_lottery_lesson9/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry_lottery_lesson9/lib/solmate"]
	path = foundry_lottery_lesson9/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry_lottery_lesson9/lib/foundry-devops"]
	path = foundry_lottery_lesson9/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "erc20_token/lib/forge-std"]
	path = erc20_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20_token/lib/openzeppelin-contracts"]
	path = erc20_token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nfts/lib/forge-std"]
	path = nfts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nfts/lib/openzeppelin-contracts"]
	path = nfts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nfts/lib/foundry-devops"]
	path = nfts/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "stableCoin/lib/forge-std"]
	path = stableCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stableCoin/lib/openzeppelin-contracts"]
	path = stableCoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "stableCoin/lib/chainlink-brownie-contracts"]
	path = stableCoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Contract_Upgrades/lib/forge-std"]
	path = Contract_Upgrades/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contract_Upgrades/lib/openzeppelin-contracts-upgradeable"]
	path = Contract_Upgrades/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Contract_Upgrades/lib/openzeppelin-contracts"]
	path = Contract_Upgrades/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "Contract_Upgrades/lib/foundry-devops"]
	path = Contract_Upgrades/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "DaosAndGovernance/lib/forge-std"]
	path = DaosAndGovernance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DaosAndGovernance/lib/openzeppelin-contracts"]
	path = DaosAndGovernance/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Ethernauts/lib/forge-std"]
	path = Ethernauts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Thunder-Loan-Audit/lib/forge-std"]
	path = Thunder-Loan-Audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Thunder-Loan-Audit/lib/openzeppelin-contracts"]
	path = Thunder-Loan-Audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Thunder-Loan-Audit/lib/openzeppelin-contracts-upgradeable"]
	path = Thunder-Loan-Audit/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "opcodes/lib/forge-std"]
	path = opcodes/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "opcodes/lib/foundry-huff"]
	path = opcodes/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "opcodes/lib/openzeppelin-contracts"]
	path = opcodes/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "opcodes/lib/huffmate"]
	path = opcodes/lib/huffmate
	url = https://github.com/huff-language/huffmate
